/* -------------------- */
/* Basic Steps */
/* -------------------- */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body{
	background-color: : #fff;
	color: #555;
	font-family: 'Lato', 'Arial',sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

.clearfix{zoom:1}
.clearfix:after{
	content: '.';
	clear:both;
	display: block;
	height: 0;
	visibility: hidden;
}
/* -------------------- */
/* Reusable Components */
/* -------------------- */
.row{
	max-width: 1140px;
	margin: 0 auto;
}

section{
	padding: 80px 0; 
}

.box{
	padding: 0%;
}

/* -------Headings----------*/

h1,h2,h3{
	font-weight: 300;
	text-transform: uppercase;
	
}

h1{
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 40%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2{
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h3{
	font-size: 110%;
	margin-bottom: 11px;
	
}

h2:after{
	display: block;
	height: 2px;
	background-color: #e67e22;
	content: "";
	width: 700px;
	margin: 0 auto;
	margin-top: 30px;
}

/*-------Paragraph---------*/

.long-copy{
	line-height: 145%;
	width: auto;
	margin-left: 15%;
}

.box p{
	font-size: 80%;
	line-height: 145%;
	padding-top: 5%;
}

/*------- I Cons ----------*/

.icon-big{
	font-size: 200%;
	color:#e67e22;
	display: block;
	margin-bottom: 10px;
	
}


.icon-small{
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #e67e22;
	font-size: 120%;
	margin-right: 8px;
	/*Secrets to align text and icons*/
	line-height: 120%;
	vertical-align: middle;
	margin-top: -5px;
}


/* --------Links---------*/

a:link,
a:active{
	color:#e67e22;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #e67e22;
}

a:hover,
a:active{
	color: blue;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #e67e22;
	transition: border-bottom 0.2s, color 0.2s;
}

/* --------Buttons---------*/
.btn:link,
.btn:visited,
input[type=submit]{
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 100px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
	
}


.btn-full:link,
.btn-full:visited,
input[type=submit]{
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color:#fff;
	margin-right: 20px;
}


.btn-ghost:link,
.btn-ghost:visited{
	border: 1px solid #e67e22;
	color: #fff;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
	background-color: #e67e22;
}

.btn-full:hover,
.btn-full:active,
{
	border: 1px solid #e67e22;
	
}


.btn-ghost:hover,
.btn-ghost:active{
	border: 1px solid #e67e22;
	color: #fff;
}


/* -------------------- */
/* Header */
/* -------------------- */
header{
	background-image:linear-gradient(rgba(0, 0, 0, 0),#000),url(Img/hero.jpg);
	background-size: cover;
	background position: center;
	height: 100vh;
	background-attachment: fixed;
}

 .hero-text-box{
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.logo{
	height: 100px;
	width: auto;
	float:left;
	margin-top:20px;
}

.logo-black{
	display: none;
	height: 50px;
	width: auto;
	float:left;
	margin: 5px 0;
}
/* Main-Navi*/
.main-nav{
	float:right;
	list-style: none;
	margin-top: 40px;
}

.main-nav li{
	display: inline-block;
	margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom:  2px solid transparent;
	transition: border-bottom 0.2s; 
}
.main-nav li a:hover,
.main-nav li a:active{
border-bottom: 2px solid #e67e22;
}


/*Sticky-Navi*/

.sticky{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.98);
	box-shadow: 0 2px 2px #efefef;
	z-index: 9999;
}

.sticky .main-nav{
	margin-top: 18px;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
	color: #555;
	padding: 16px 0;
}

.sticky .logo{display: none;}
.sticky .logo-black{display: block;}

/*Mobile-navi*/

.mobile-nav-icon{
	float: right;
	margin-top: 30px;
	cursor: pointer;
	display: none;
}

.mobile-nav-icon i{
	font-size: 200%;
	color: #fff;
}

/* -------------------- */
/*Features */
/* -------------------- */

.section-features .long-copy{
	margin-bottom: 40px;
}



/* -------------------- */
/*Meals */
/* -------------------- */

.section-meals{
	padding: 0;
}
.meals-showcase{
	list-style: none;
	width: 100%;
}

.meals-showcase li{
	display: block;
	float: left;
	width: 25%;
}

.meal-photo{
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: black;
}

.meal-photo img{
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s;
}

.meal-photo img:hover{
	opacity: 1;
	transform: scale(1.05);
}

/* -------------------- */
/*How it works */
/* -------------------- */


.section-steps{
	background-color: #f4f4f4;
}

.steps-box:first-child{
	text-align: right;
	padding-right: 6%;
	margin-top: 40px;
}

.steps-box:last-child{
	padding-left: 6%;
	margin-top: 100px;
}
.app-screen{
	width: 40%;
}


.work-step{
	margin-bottom: 40px;
	
}

works-step:last-of-type{
	margin-bottom: 50px;
}
.work-step div{
	color:#e67e22;
	border: 2px solid #6666f8;
	display: inline-block;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	text-align: center;
	padding: 5px;
	float:left;
	font-size: 150%;
	margin-right: 25px;
}

.btn-app:link,
.btn-app:visited{
	border: 0;
}

.btn-app img{
	height: 40px;
	width:auto;
	margin-right:10px;
}


/* -------------------- */
/*Cities */
/* -------------------- */

.box img{
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.city-feature{
	margin-bottom: 5px;
}

/* -------------------- */
/*Testimonials */
/* -------------------- */

.section-testimonials{
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(Img/back-customers.jpg);
	background-size: cover;
	color:#fff;
	background-attachment: fixed;
}

blockquote{
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	font-size: 90%;
	position: relative;
	margin: 7px;
}

blockquote:before{
	content: "\201C";
	font-size: 245%;
	display: block;
	position: absolute;
	top: -3px;;
	left: -3px;
	
}

cite{
	font-size: 80%;
	margin-top: 25px;
	margin-right: 10px;
	display: block;
	
}

cite img{
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
}

/* -------------------- */
/*Sign up */
/* -------------------- */

.section-plans{
	background-color: #f4f4f4;
}

.plan-box{
	background-color: #fff;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
	-webkit-box-shadow: 0 2px 2px #efefef;
	box-shadow: 0 2px 2px #efefef;
}


.plan-box div{
	padding: 15px;
	border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child{
	background-color: #fcfcfc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


.plan-box div:last-child{
	text-align: center;
	border: none;
}
.plan-price{
	font-size: 200%;
	margin-bottom: 10px;
	font-weight: 100;
	color: #e67e22;
}

.plan-price span{
	font-size: 50%;
	font-weight: 100;
	
}
.plan-price-meal{
	font-size: 80%;
}

.plan-box ul{
	list-style: none;
}

.plan-box ul li{
	padding: 5px 0;
}


/* -------------------- */
/*Form */
/* -------------------- */

.contact-form{
	width: 60%;
	margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

textarea{
	height: 100px;
}

input[type=checkbox]{
	margin: 10x 5px 10px 0;
}

*:focus{outline: none;}


/* -------------------- */
/*Footer */
/* -------------------- */

footer{
	background-color: #333;
	padding: 40px;
	font-size: 15px;
	background-attachment: fixed;
}

.footer-nav{
	list-style: none;
	float:left;
}

.social-links{
	list-style: none;
	float: right;
}

.footer-nav li,
.social-links li{
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child,{
	margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
	text-decoration: none;
	border: 0;
	color: #888;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
	color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
	font-size: 160%;
}


.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
	transition: color 0.2s;
}
.ion-social-facebook:hover{
	color: #3b5998;
}

.ion-social-twitter:hover{
	color: #55acee;
}

.ion-social-googleplus:hover{
	color: #dd4b39;
}

.ion-social-instagram:hover{
	color: #517fa4;
}
footer p{
	color: #888;
	text-align: center;
	margin-top: 10px;
}

/* -------------------- */
/*Animations */
/* -------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3{
	opacity: 0;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

.js--wp-4{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}
.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated{
	opacity: 1;
}